[project]
	description = IETF drafts
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/inband-oam
[access "refs/for/refs/*"]
	read = group user/inband-oam
	push = group user/inband-oam
	label-Code-Review = -2..+2 group user/inband-oam
	label-Verified = -1..+1 group user/inband-oam
	rebase = group user/inband-oam
	removeReviewer = group user/inband-oam
	submit = group user/inband-oam
[access "refs/heads/*"]
	read = group user/inband-oam
	create = group user/inband-oam
	push = +force group user/inband-oam
	pushMerge = group user/inband-oam
[access "refs/tags/*"]
	push = +force group user/inband-oam
	pushTag = group user/inband-oam
	pushSignedTag = group user/inband-oam
[receive]
	requireSignedOffBy = true
