
INTRODUCTION, paragraph 1:
EXPLANATION: 

OLD:

 Network Working Group                                       F. Brockners
 Internet-Draft                                               S. Bhandari
 Intended status: Informational                                   S. Dara
|Expires: January 9, 2017                                    C. Pignataro
                                                                    Cisco
                                                               H. Gredler
                                                             RtBrick Inc.
|                                                            July 8, 2016

NEW:

 Network Working Group                                       F. Brockners
 Internet-Draft                                               S. Bhandari
 Intended status: Informational                                   S. Dara
|Expires: January 19, 2017                                   C. Pignataro
                                                                    Cisco
                                                               H. Gredler
                                                             RtBrick Inc.
|                                                                J. Leddy
|                                                                 Comcast
|                                                               S. Youell
|                                                                    JMPC
|                                                           July 18, 2016


------------------------------------------------------------------------


INTRODUCTION, paragraph 2:
EXPLANATION: 

OLD:

                       Requirements for In-band OAM
|               draft-brockners-inband-oam-requirements-00

NEW:

                       Requirements for In-band OAM
|               draft-brockners-inband-oam-requirements-01


------------------------------------------------------------------------


INTRODUCTION, paragraph 9:
EXPLANATION: 

OLD:

|   This Internet-Draft will expire on January 9, 2017.

NEW:

|   This Internet-Draft will expire on January 19, 2017.


------------------------------------------------------------------------


Section 9., paragraph 0:
EXPLANATION: 

OLD:

|   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .   2
    2.  Conventions . . . . . . . . . . . . . . . . . . . . . . . . .   4
    3.  Motivation for In-band OAM  . . . . . . . . . . . . . . . . .   4
|     3.1.  Path Congruency Issues with Dedicated OAM Packets . . . .   4
      3.2.  Results Sent to a System Other Than the Sender  . . . . .   5
      3.3.  Overlay and Underlay Correlation  . . . . . . . . . . . .   5
      3.4.  SLA Verification  . . . . . . . . . . . . . . . . . . . .   6
      3.5.  Analytics and Diagnostics . . . . . . . . . . . . . . . .   6
      3.6.  Frame Replication/Elimination Decision for Bi-casting
            /Active-active Networks . . . . . . . . . . . . . . . . .   7
      3.7.  Proof of Transit  . . . . . . . . . . . . . . . . . . . .   7
      3.8.  Use Cases . . . . . . . . . . . . . . . . . . . . . . . .   8
    4.  Considerations for In-band OAM  . . . . . . . . . . . . . . .   9
|     4.1.  Type of Information to Be Recorded  . . . . . . . . . . .   9
|     4.2.  MTU and Packet Size . . . . . . . . . . . . . . . . . . .  10
|     4.3.  Administrative Boundaries . . . . . . . . . . . . . . . .  10
|     4.4.  Selective Enablement  . . . . . . . . . . . . . . . . . .  11
|     4.5.  Optimization of Node and Interface Identifiers  . . . . .  11
|     4.6.  Loop Communication Path (IPv6-specifics)  . . . . . . . .  11
    5.  Requirements for In-band OAM Data Types . . . . . . . . . . .  12
      5.1.  Generic Requirements  . . . . . . . . . . . . . . . . . .  12
      5.2.  In-band OAM Data with Per-hop Scope . . . . . . . . . . .  13
      5.3.  In-band OAM with Selected Hop Scope . . . . . . . . . . .  14
      5.4.  In-band OAM with End-to-end Scope . . . . . . . . . . . .  14
|   6.  Security Considerations and Requirements  . . . . . . . . . .  14
|     6.1.  Proof of Transit  . . . . . . . . . . . . . . . . . . . .  14
|   7.  IANA Considerations . . . . . . . . . . . . . . . . . . . . .  15
|   8.  Acknowledgements  . . . . . . . . . . . . . . . . . . . . . .  15
    9.  Informative References  . . . . . . . . . . . . . . . . . . .  16
|   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . .  17

NEW:

|   1.  Introduction  . . . . . . . . . . . . . . . . . . . . . . . .   3
    2.  Conventions . . . . . . . . . . . . . . . . . . . . . . . . .   4
    3.  Motivation for In-band OAM  . . . . . . . . . . . . . . . . .   4
|     3.1.  Path Congruency Issues with Dedicated OAM Packets . . . .   5
      3.2.  Results Sent to a System Other Than the Sender  . . . . .   5
      3.3.  Overlay and Underlay Correlation  . . . . . . . . . . . .   5
      3.4.  SLA Verification  . . . . . . . . . . . . . . . . . . . .   6
      3.5.  Analytics and Diagnostics . . . . . . . . . . . . . . . .   6
      3.6.  Frame Replication/Elimination Decision for Bi-casting
            /Active-active Networks . . . . . . . . . . . . . . . . .   7
      3.7.  Proof of Transit  . . . . . . . . . . . . . . . . . . . .   7
      3.8.  Use Cases . . . . . . . . . . . . . . . . . . . . . . . .   8
    4.  Considerations for In-band OAM  . . . . . . . . . . . . . . .   9
|     4.1.  Type of information to be recorded  . . . . . . . . . . .  10
|     4.2.  MTU and packet size . . . . . . . . . . . . . . . . . . .  10
|     4.3.  Administrative boundaries . . . . . . . . . . . . . . . .  11
|     4.4.  Selective enablement  . . . . . . . . . . . . . . . . . .  11
|     4.5.  Optimization of node and interface identifiers  . . . . .  12
|     4.6.  Loop communication path (IPv6-specifics)  . . . . . . . .  12
    5.  Requirements for In-band OAM Data Types . . . . . . . . . . .  12
      5.1.  Generic Requirements  . . . . . . . . . . . . . . . . . .  12
      5.2.  In-band OAM Data with Per-hop Scope . . . . . . . . . . .  13
      5.3.  In-band OAM with Selected Hop Scope . . . . . . . . . . .  14
      5.4.  In-band OAM with End-to-end Scope . . . . . . . . . . . .  14
|   6.  Security Considerations and Requirements  . . . . . . . . . .  15
|     6.1.  Proof of Transit  . . . . . . . . . . . . . . . . . . . .  15
|   7.  IANA Considerations . . . . . . . . . . . . . . . . . . . . .  16
|   8.  Acknowledgements  . . . . . . . . . . . . . . . . . . . . . .  16
    9.  Informative References  . . . . . . . . . . . . . . . . . . .  16
|   Authors' Addresses  . . . . . . . . . . . . . . . . . . . . . . .  18


------------------------------------------------------------------------


Section 3.7., paragraph 2:
EXPLANATION: 

OLD:

    A solution approach could be based on OAM data which is added to
    every packet for achieving Proof Of Transit.  The OAM data is updated
    at every hop and is used to verify whether a packet traversed all
    required nodes.  When the verifier receives each packet, it can
    validate whether the packet traversed the service chain correctly.
    The detailed mechanisms used for path verification along with the
    procedures applied to the OAM data carried in the packet for path
    verification are beyond the scope of this document.  Details are
    addressed in [draft-brockners-proof-of-transit].  In this document
    the term "proof" refers to a discrete set of bits that represents an
    integer or string carried as OAM data.  The OAM data is used to
    verify whether a packet traversed the nodes it is supposed to
    traverse.

NEW:

|   Deployed service chains without the presence of a "proof of transit"
|   mechanism are typically operated as fail-open system: The packets
|   that arrive at the end of a service chain are processed.  Adding
|   "proof of transit" capabilites to a service chain allows an operator
|   to turn a fail-open system into a fail-close system, i.e.  packets
|   that did not properly traverse the service chain can be blocked.
|
    A solution approach could be based on OAM data which is added to
    every packet for achieving Proof Of Transit.  The OAM data is updated
    at every hop and is used to verify whether a packet traversed all
    required nodes.  When the verifier receives each packet, it can
    validate whether the packet traversed the service chain correctly.
    The detailed mechanisms used for path verification along with the
    procedures applied to the OAM data carried in the packet for path
    verification are beyond the scope of this document.  Details are
    addressed in [draft-brockners-proof-of-transit].  In this document
    the term "proof" refers to a discrete set of bits that represents an
    integer or string carried as OAM data.  The OAM data is used to
    verify whether a packet traversed the nodes it is supposed to
    traverse.


------------------------------------------------------------------------


Section 4., paragraph 2:
EXPLANATION: 

OLD:

|4.1.  Type of Information to Be Recorded

NEW:

|4.1.  Type of information to be recorded


------------------------------------------------------------------------


Section 4., paragraph 9:
EXPLANATION: 

OLD:

|4.2.  MTU and Packet Size

NEW:

|4.2.  MTU and packet size


------------------------------------------------------------------------


Section 4., paragraph 11:
EXPLANATION: 

OLD:

    The Path MTU restricts the amount of data that can be recorded for
    purpose of OAM within a data packet.  The total size of data to be
    recorded needs to be preset to avoid packet size exceeding the MTU.
    It is recommended to pre-calculate and configures network devices to
    limit the in-band OAM data that is attached to a packet.

NEW:

    The Path MTU restricts the amount of data that can be recorded for
    purpose of OAM within a data packet.  The total size of data to be
    recorded needs to be preset to avoid packet size exceeding the MTU.
|
    It is recommended to pre-calculate and configures network devices to
    limit the in-band OAM data that is attached to a packet.


------------------------------------------------------------------------


Section 4., paragraph 12:
EXPLANATION: 

OLD:

|4.3.  Administrative Boundaries

NEW:

|4.3.  Administrative boundaries


------------------------------------------------------------------------


Section 4., paragraph 13:
EXPLANATION: 

OLD:

|   There are challenges in enabling in-band OAM in the public Internet
|   across administrative domains:

NEW:

|   There are several challenges in enabling in-band OAM in the public
|   Internet as well as in corporate/enterprise networks across
|   administrative domains, which include but are not limited to:


------------------------------------------------------------------------


Section 4., paragraph 17:
EXPLANATION: 

OLD:

    o  Specifically on IPv6: At the administrative boundaries IPv6
       packets with extension headers are dropped for several reasons
|      described in [RFC7872]

NEW:

    o  Specifically on IPv6: At the administrative boundaries IPv6
       packets with extension headers are dropped for several reasons
|      described in [RFC7872].


------------------------------------------------------------------------


Section 4., paragraph 19:
EXPLANATION: 

OLD:

|4.4.  Selective Enablement

NEW:

|4.4.  Selective enablement


------------------------------------------------------------------------


Section 4., paragraph 21:
EXPLANATION: 

OLD:

|4.5.  Optimization of Node and Interface Identifiers

NEW:

|4.5.  Optimization of node and interface identifiers


------------------------------------------------------------------------


Section 4., paragraph 23:
EXPLANATION: 

OLD:

|4.6.  Loop Communication Path (IPv6-specifics)

NEW:

|4.6.  Loop communication path (IPv6-specifics)


------------------------------------------------------------------------


Section 5.4., paragraph 0:
EXPLANATION: 

OLD:

 5.4.  In-band OAM with End-to-end Scope

NEW:

|            REQ-S1.2:  Enable a fail-open service chaining system to be
|                       converted into a fail-closed service chaining
|                       system.
|
 5.4.  In-band OAM with End-to-end Scope


------------------------------------------------------------------------


Section 8., paragraph 1:
EXPLANATION: 

OLD:

|   The authors would like to thank Steve Youell, Eric Vyncke, Nalini
|   Elkins, Srihari Raghavan, Ranganathan T S, Karthik Babu Harichandra
|   Babu, Akshaya Nadahalli, and Andrew Yourtchenko for the comments and
|   advice.  This document leverages and builds on top of several
|   concepts described in [draft-kitamura-ipv6-record-route].  The
|   authors would like to acknowledge the work done by the author Hiroshi
|   Kitamura and people involved in writing it.

NEW:

|   The authors would like to thank Eric Vyncke, Nalini Elkins, Srihari
|   Raghavan, Ranganathan T S, Karthik Babu Harichandra Babu, Akshaya
|   Nadahalli, and Andrew Yourtchenko for the comments and advice.  This
|   document leverages and builds on top of several concepts described in
|   [draft-kitamura-ipv6-record-route].  The authors would like to
|   acknowledge the work done by the author Hiroshi Kitamura and people
|   involved in writing it.


------------------------------------------------------------------------


Section 9., paragraph 20:
EXPLANATION: 

OLD:

    Email: shwethab@cisco.com
    Sashank Dara
    Cisco Systems, Inc.
    Cessna Business Park, Sarjapura Marathalli Outer Ring Road
    Bangalore, KARNATAKA 560 087
    India

NEW:

    Email: shwethab@cisco.com
|
    Sashank Dara
    Cisco Systems, Inc.
    Cessna Business Park, Sarjapura Marathalli Outer Ring Road
    Bangalore, KARNATAKA 560 087
    India


------------------------------------------------------------------------


Section 9., paragraph 25:
EXPLANATION: 

OLD:

    Email: hannes@rtbrick.com

NEW:

    Email: hannes@rtbrick.com
|
|   John Leddy
|   Comcast
|
|   Email: John_Leddy@cable.comcast.com
|   Stephen Youell
|   JP Morgan Chase
|   25 Bank Street
|   London  E14 5JP
|   United Kingdom
|
|   Email: stephen.youell@jpmorgan.com

